/********/
/* FONT */
/********/
@font-face {
  font-family: TitleFont;
  src: url('../Fonts/BRADHITC.TTF');
}

@font-face {
  font-family: TextFontLight;
  src: url('../Fonts/benveno/BonvenoCF-Light.otf');
}


/*********/
/* COLOR */
/*********/
nav a,
#interieur,
#pays,
#jardin,
#footer {
  color: black;
  /* opacity: 0.8; */
}
main,
#exterieur,
#tarifs {
  color: white;
  /* text-shadow: black -0.1rem 0.1rem 0rem,
                black 0.1rem 0.1rem 0rem; */
}

h1, h2, h3 {
  font-family: TitleFont;
}

p, li, a {
  font-family: TextFontLight;
  font-weight: bold;
}


/********/
/* SIZE */
/********/
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p, #footer > ul > li {
  font-size: 1.3rem;
}

li {
  font-size: 2rem;
}

h1, h2 {
  letter-spacing: 0.5rem;
}

h3 {
  word-spacing: 1rem;
}
