.container {
  width: 70vw;
  margin-left: 10vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.text-center {
  text-align: center;
}


/******************/
/* MARGIN/PADDING */
/******************/
.padding-top-8 {
  padding-top: 8rem;
}

.padding-bottom-2 {
  padding-bottom: 2rem;
}

.padding-left-2 {
  padding-left: 2rem;
}

/************/
/* POSITION */
/************/
.fixed-0 {
  position: fixed;
  top: 0rem;
}

.z-index-1 {
  z-index: 1;
}

.inline {
  display: inline;
}


/***********/
/* FLEXBOX */
/***********/
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
/* .justify-content-evenly {
  justify-content: space-evenly;
} */

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}


/********/
/* GRID */
/********/
/* .grid-picture-right {
  display: grid;
  grid-template:  "sub-title picture"
                  "description description";
}
.grid-picture-left {
  display: grid;
  grid-template:  "picture sub-title"
                  "description description";
}

.sub-title {
  grid-area: sub-title;
}
.picture {
  grid-area: picture;
}
.description {
  grid-area: description;
} */
