@import url('color.css');
@import url('component.css');
@import url('effect.css');
@import url('font.css');
@import url('picture.css');
@import url('position.css');
@import url('size.css');

html {
  font-size: 100%;
}

body {
  background: linear-gradient(0deg, rgba(150, 150, 150, 0.2) 0%, rgba(150, 150, 150, 0.2) 50%);
  background-color: black;
  height: 500vh;
}

nav {
  background: linear-gradient(45deg, #96b834ff 33%, #c0defcff 100%)
}

main,
#exterieur,
#tarifs {
  background: linear-gradient(180deg, rgba(150, 150, 150, 0.1) 30%, rgba(150, 150, 150, 0.2) 100%),
    url('../Images/textWood01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#interieur,
#pays,
#jardin,
#footer {
  background-color: #606a71ff;
}
